<mat-card class="table">
    <mat-card class="table-search">
        <mat-grid-list cols="9" rowHeight="2:1">
            <mat-grid-tile colspan="4">
                <form [formGroup]="form" class="input-form">
                    <mat-form-field class="input-full-width" appearance="fill">
                      <mat-label>Search</mat-label>
                      <input matInput name="search" formControlName="search" (keydown.enter)="search()">
                    </mat-form-field>
                </form>
            </mat-grid-tile>
            <mat-grid-tile colspan="1">
                <button mat-stroked-button
                        color="primary" 
                        class="search-button" 
                        (click)="search()"
                        matTooltip="Search for all people!"
                        [matTooltipPosition]="position"
                        [matTooltipDisabled]="input.length > 0">SEARCH</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" class="found">
                Found: {{results}} result(s)
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card>

    <div *ngIf="peopleSpinnerService.isLoading$ | async" class="spinner-wrapper">
        <mat-spinner class="spinner"></mat-spinner>
    </div>

    <mat-list>
        <mat-list-item *ngFor="let p of people" class="table-element">
            <mat-card class="table-card-element">
                <mat-grid-list cols="12" rowHeight="2:1">
                    <mat-grid-tile colspan="1">
                        {{p.id}}
                    </mat-grid-tile>
                    <mat-grid-tile colspan="3">
                        {{p.name}}
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        {{p.birth_year}}
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        {{p.gender}}
                    </mat-grid-tile>
                    <mat-grid-tile colspan="4">
                        <button mat-stroked-button
                        color="primary"
                        (click)="showDetails(p)">DETAILS</button>
                    </mat-grid-tile>
                  </mat-grid-list>
            </mat-card>
        </mat-list-item>
    </mat-list> 

    <mat-card class="table-paginator">
        <mat-grid-list cols="9" rowHeight="2:1">
            <mat-grid-tile
                colspan="1"
                matTooltip="No previous page!"
                [matTooltipPosition]="position"
                [matTooltipDisabled]="previous > 0">
                <button mat-stroked-button
                        color="primary" 
                        class="search-button"
                        [disabled]="previous == 0"
                        (click)="decreasePage()">PREVIOUS</button>
            </mat-grid-tile>
            <mat-grid-tile colspan="7">
            </mat-grid-tile>
            <mat-grid-tile
                colspan="1"
                matTooltip="No next page!"
                [matTooltipPosition]="position"
                [matTooltipDisabled]="next > 0">
                <button mat-stroked-button
                        color="primary"
                        class="search-button"
                        [disabled]="next == 0"
                        (click)="increasePage()">NEXT</button>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card>
</mat-card>
