.table {
    margin: 2rem;
}

.table-element {
    margin-top: 2.5rem;
}

.table-card-element {
    width: 100%;
}

.table-search {
    margin-left: 1rem;
    margin-right: 1rem;
}

.input-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-full-width {
    width: 100%;
    padding-top: 1rem;
}

.table-paginator {
    margin-top: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
