/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-star-wars-people {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: transparent !important;
    }

    .found .mat-grid-tile-content {
        left: unset;
    }
}